<div class="sidebar">
  <div class="sidebar-column">
    <h2>Advanced Search</h2>
    <form id="advSearchForm" action="/advancedSearch" method="GET" type="onSubmit">
      <table>
        <tr>
          <td>
            <label for="section_select">Section Name: </label>
          </td>
          <td>
            <select name="sections" id="section_select" required>
              <option value="">Choose A Section</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="start_date">Start Date: </label></td>
          <td>
            <input
              type="date"
              id="start_date"
              name="start_date"
              value="2020-01-01"
            />
          </td>
        </tr>
        <tr>
          <td><label for="end_date">End Date: </label></td>
          <td>
            <input
              type="date"
              id="end_date"
              name="end_date"
              value="2023-01-01"
            />
          </td>
        </tr>
        <tr>
          <td><label for="sort">Sort By: </label></td>
          <td>
            <select name="sort" id="sort">
              <option value="Newest">Newest</option>
              <option value="Oldest">Oldest</option>
            </select>
          </td>
        </tr>
      </table>
      <button type="submit" id="advSearchBtn">Search</button>
    </form>
  </div>
</div>
